<!DOCTYPE html>
{% extends "base.html" %}

{% load staticfiles %}

{%block content  %}
<div class="content-wrapper">
  <hr>
  <div id='about'  style="width: 90%;margin-left:auto;margin-right:auto;">
   <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 >相关信息</h2>
    </div>
   <div class="panel-body">
          <div class="well" style="margin-bottom: 2px;">
  	<h3><strong>有关本系统</strong></h3>
  	<li><h4></h4></li>
  	</div>
    </div>
   </div>
  </div>

  <div id='login'  style="width: 90%;margin-left:auto;margin-right:auto;">
   <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 >有关登陆</h2>
    </div>
   <div class="panel-body">
          <div class="well" style="margin-bottom: 2px;">
          <h3><strong></strong></h3>
          <li><h4></h4></li>
  	<li><h4></h4></li>
  	<li><h4></h4></li>
          </div>
   

   </div>
   </div>
  </div>

  <div id='vocab'  style="width: 90%;margin-left:auto;margin-right:auto;">
   <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 >Other</h2>
    </div>
   <div class="panel-body">
          <div class="well" style="margin-bottom: 2px;">
  	<h3><strong>其他问题</strong></h3>
  	<li><h4>如您有其他问题，欢迎 <a href='/contact/'>联系我们</a>.</h4></li>
  	</div>
    </div>
   </div>
  </div>

</div>

{%endblock%}
